<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="robots" content="{$robots}" n:ifset="$robots">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MOVapp</title>
	<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css">
	<link rel="stylesheet" href="{$basePath}/css/jquery-ui/jquery-ui-1.10.3.custom.min.css">

	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/netteForms.js"></script>
	<script src="{$basePath}/js/main.js"></script>
	<script src="{$basePath}/js/nette.ajax.js"></script>
</head>

<body>
<div class="wrapper">
	<div class="container">
		{if $user->isLoggedIn()}
			<div class="flash"><span n:foreach="$flashes as $flash" class="alert alert-info">{$flash->message}</span></div>
			<div class="text-right form-group"><span class="btn btn-default" disabled="disabled">Prihlásený: {$user->identity->email}</span>
				<a n:href=":Main:Sign:out" class="btn btn-info"><span class="glyphicon glyphicon-lock"></span> Sign Out</a></div>
			<div class="col-md-3">
				<div class="col-md-11 custom-main-menu custom-bg-white">

					<ul id="menu" class="custom-main-menu-list">
						<li><a n:href="Homepage:" class="btn btn-block btn-default"> Homepage</a></li>
						<li><a n:href="Article:" class="btn btn-block btn-default"><span class="glyphicon glyphicon-list"></span> Všetky články</a></li>
						<li><a n:href="Homepage:files" class="btn btn-block btn-default"><span class="glyphicon glyphicon-user"></span> Moje súbory</a></li>
					</ul>

				</div>
			</div>
			<div id="obsah" class="col-md-9 custom-main-content custom-bg-white">
				{include #content}
			</div>
		{else}
			{include Sign/in.latte}
		{/if}

		<script>
			$(function () {
				$.nette.init();
			});
		</script>
	</div>
</div>

</body>
</html>