{* Latte template *}

{block content}
<div>
    <h3>Velmi pekny formular na pridanie suboru</h3>
    <td><a href="#" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>Zmazať</a></td>
    <td><img class="remove"></td>
</div>