
.custom-main-menu, .custom-main-content{
    border-radius:15px;
    padding:20px;
    min-height: 200px;
    -moz-min-height:200px;
    margin-bottom:50px;
}
.custom-bg-white{
    background-color:#fff;
}
.custom-signup{
    border-radius: 50px;
    margin-top:50px;
}
.custom-border-radius{
  padding-left: 50px;
  padding-right: 50px;
  padding-top:40px;
  padding-bottom:30px;
  
  border-radius:50px;
}
.custom-main-menu-list{
    list-style-type: none;
    padding:0px;
    margin:0px;
}
.custom-main-menu-list li{
    margin-left:0px;
    padding-left:0px;
    padding-bottom: 5px;
}
.form{
    border-radius:15px;
    padding:15px;
    border:1px dotted #ccc;
    margin-bottom:15px;
}
h2,h3{
    padding-top:5px;
    padding-bottom:10px;
    margin-top: 0px;
    border-bottom: 4px dotted #eee;
}
.nodisplay{display:none;}
.clrbth{clear:both;}
.to-late {color: red;}
.alert-info h2 {border-color:#a6e1ec;}
div.flash {
	margin-left: 300px;
	float:left;
}